<label class="listTasks">Lista de Tarefas</label>

<table>
    <tr>
        <th>
            Done
        </th>
        <th>
            ID
        </th>
        <th>
            Tarefa
        </th>
        <th>
            Opções
        </th>
    </tr>
    <tr *ngFor="let tarefa of tarefas" id="linhaTabela">
        <td>
            <input #doneBox (change)="setCompleted(tarefaDesc)" type="checkbox">
        </td>
        <td>
            <span>{{ tarefa.id }}</span>
        </td>
        <td>
           <span #tarefaDesc contenteditable="true" (keyup)="changeValue(tarefaDesc)">{{ tarefa.descricao }}</span>
        </td>
        <td>
            <button class="botao" id="editButton" (click)="changeValue(tarefaDesc)">
                Editar <img class="image" src="https://i.pinimg.com/originals/46/93/ba/4693ba7c63042a6950658d434ca8e55d.png">
            </button>
            <button class="botao" id="deleteButton" (click)="deletar(tarefa)" style="background-color: rgb(255, 0, 0); border-color: red; " type="submit">Deletar</button> 
        </td>
    </tr>
</table>